<h1 class="my-4">About Us</h1>

<div class="card_x">
  <img class="card-img-top show_img" src="">
  <div class="card-body">
    <h2 class="card-title">Rock Music Blog - Who we are?</h2>
    <p class="card-text">We are just a team of bloggers, programmers and just rock and roll fans.<br>In our blog you will see the latest news from the world of music and rock and roll<br>Subscribe to us for news from music inductry.</p>
  </div>
</div>
