<h1 class="my-4">Edit Post #<%= @post.id %></h1>

<%= form_for :post, url: post_path(@post), method: :patch do |f| %>

  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger">
        <%= msg %>
      </div>
    <% end %>
  <% end %>

  <p>
    Title<br>
    <%= f.text_field(:title, {:class => "form-control"}) %>
  </p>
  <p>
    Text<br>
    <%= f.text_area(:body, {:class => "form-control"}) %>
  </p>

  <p>
    Image URL<br>
    <%= f.url_field(:image, {:class => "form-control"}) %>
  </p>
  <p>
    <%= f.submit({:class => "btn btn-success"}) %>
  </p>
<% end %>
