<h1 class="my-4">All post's:</h1>

<% @post.each do |post| %>
<div class="card_x">
  <div class="card-white mb-4">
    <!-- Добавити Картинку через Пост -->
    <img class="card-img-top" src="<%= post.image %>">
    <div class="card-body">
      <h2 class="card-title"><%= post.title %></h2>
      <p class="card-text"><%= post.body %></p>
      <%= link_to "Read More »", post_path(post), :class => "btn btn-success" %>
    </div>
    <div class="card-footer text-muted">
      Created at : <%= post.created_at.strftime("%b %d, %Y - %k:%M %p") %>
    </div>
  </div>
</div>
<br>
<% end %>
