<h1 class="my-4">Post #<%= @post.id %></h1>

<div class="card_x">
  <img class="card-img-top show_img" src="<%= @post.image %>">
  <div class="card-body">
    <h2 class="card-title"><%= @post.title %></h2>
    <p class="card-text"><%= @post.body %></p>
  </div>
  <div class="card-brn">
    <%= link_to "Edit", edit_post_path(@post), :class => "btn btn-primary" %>
    <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Хочете видалити статтю?"}, :class => "btn btn-danger" %>
  </div>
  <div class="card-footer text-muted">
    Created at : <%= @post.created_at.strftime("%b %d, %Y - %k:%M %p") %>
  </div>
</div>
<br>


<h2 class="my-3">All Comment's</h2>
<% @post.comments.each do |comment| %>
  <div class="alert alert-dark comment-block">
    <p><strong><%= comment.username %></strong>: <%= comment.body%></p>
    <p class="text-right text-muted"><%= comment.created_at.strftime("%b %d - %k:%M %p") %></p>
  </div>
<% end %>



<h2 class="my-3">Add Comment</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>

  <p>
    User<br>
    <%= f.text_field(:username, {:class => "form-control"}) %>
  </p>
  <p>
    Text<br>
    <%= f.text_area(:body, {:class => "form-control"}) %>
  </p>
  <p>
    <%= f.submit("Add Comment",{:class => "btn btn-success"}) %>
  </p>
<% end %>
