/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  padding-top: 56px;
}
 .logo_div{
   width: 25px;
   height: 25px;
}

.logo{
  width: 30px;
  height: 30px;
}

.ftr{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0px;
}

.btn-sub{
  margin-top: 16px;
  margin-left: 96px;
}

.block-panel{
  margin-top: 72px;
}

.nav-item{
  margin-left: 24px;
}

.nav-link{
  color: white;
}

.navig_text{
  color: white;
}

.navig_text:hover{
  text-decoration: none;
  color: #e3e3e3;
}

.navig_text-lst{
  text-decoration: none;
  color: white;
}

.navig_text-lst:hover{
  text-decoration: none;
  color: black;
}

body{
  background-color: #e8e8e8;
}

.main_navig_text{
  text-decoration: none;
  color: white;
}

.main_navig_text:hover{
  text-decoration: none;
  color: black;
}

.social{
  margin-top: -10px;
  text-align: center;
  height: 60px;
}

.btn-x{
  display:inline-block;
  width: 40px;
  height: 40px;
  background-color: #262626;
  margin: 8px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px black;
  color: white;
  overflow: hidden;
  position: relative;
  transition: 0.3s linear;
}

.btn-x i{
  line-height: 42px;
  font-size: 22px;
  transition: 0.3s linear;
}

.btn-x:hover{
  transform: scale(1.2);
}

.btn-x:hover .fa-facebook{
  color: #4267B2;
}

.btn-x:hover .fa-twitter{
  color: #1DA1F2;
}

.btn-x:hover .fa-google{
  color: #DB4437;
}

.btn-x:hover .fa-instagram{
  color: #E1306C;
}

.btn-x:hover .fa-telegram{
  color: #0088cc;
}

.logo-xx{
  color: white;
  font-size: 30px;
  margin-right: 5px;
}

.logo-i{
  margin-right: 5px;
}

.panel_icons{
  align-items: center;
}

.cat_text{
  color: black;
  text-decoration: none;
}

.cat_text:hover{
  color: #2e2e2e;
  text-decoration: none;
}
