// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-brn{
  margin-bottom: 14px;
  margin-left: 20px;
}

.card_x{
  background-color: white;
  border-radius: 3px;
}
