<!DOCTYPE html>
<html>
  <head>
    <title>BlogRuby</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag    'https://kit.fontawesome.com/4a2aba15ee.js' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <i class="fas fa-guitar logo-xx"></i>
          <span class="navbar-brand"> <%= link_to "Rock Music Blog", home_path, class: "main_navig_text" %> </span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto panel_icons">
              <li class="nav-item">
                <span class="nav-link p-2 text-light"><i class="fas fa-home logo-i"></i> <%= link_to "Main Page", home_path, class: "navig_text" %> </span>
              </li>
              <li class="nav-item">
                <span class="nav-link p-2 text-light"><i class="fas fa-list-ul logo-i"></i> <%= link_to "Categories", home_path, class: "navig_text"%> </span>
              </li>
              <li class="nav-item">
                <span class="nav-link p-2 text-light"><i class="fas fa-info logo-i"></i> <%= link_to "About", main_path, class: "navig_text" %> </span>
              </li>
              <li class="nav-item active">
                <span class="btn btn-outline-light"><i class="fas fa-plus logo-i"></i> <%= link_to "New Post", new_post_path, class: "navig_text-lst"%> </span>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">

      <div class="row">

        <div class="col-md-8">

          <%= yield %>

        </div>

        <div class="col-md-4 block-panel">
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
                    <li>
                      <span class="p-2 text-dark"> <%= link_to "Rock & Roll News", home_path, class: "cat_text" %> </span>
                    </li>
                    <li>
                      <span class="p-2 text-dark"> <%= link_to "Rock News", home_path, class: "cat_text" %> </span>
                    </li>
                    <li>
                      <span class="p-2 text-dark"> <%= link_to "American Rock", home_path, class: "cat_text" %> </span>
                    </li>
                    <li>
                      <span class="p-2 text-dark"> <%= link_to "Rock Music News", home_path, class: "cat_text" %> </span>
                    </li>
                    <li>
                      <span class="p-2 text-dark"> <%= link_to "New Music", home_path, class: "cat_text" %> </span>
                    </li>
                    <li>
                      <span class="p-2 text-dark"> <%= link_to "Recent Post's", home_path, class: "cat_text" %> </span>
                    </li>
              </div>
            </div>

          <div class="card my-4">
            <h5 class="card-header">Subscribe Widget</h5>
            <div class="card-body">
              <form class="" action="" method="">
                <input type="email" class="form-control" placeholder="Enter Email...">
                  <span class="btn btn-primary btn-sub"><i class="fas fa-envelope logo-i"></i> <%= link_to "Subscribe", new_subscriber_path, class: "navig_text" %> </span>
              </form>
            </div>
          </div>
          <br><br><br><br><br><br>

        </div>
      </div>
    </div>



    <footer class="bg-dark">
      <div class="container">

      <div class="ftr">
        <p class="text-white"><i class="far fa-copyright"></i> RockMusicBlog 2020</p>

        <div class="social">
          <a class="btn-x" href="https://www.facebook.com/">
            <i class="fab fa-facebook"></i>
          </a>
          <a class="btn-x" href="https://twitter.com/">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="btn-x" href="https://www.google.com/">
            <i class="fab fa-google"></i>
          </a>
          <a class="btn-x" href="https://www.instagram.com/">
            <i class="fab fa-instagram"></i>
          </a>
          <a class="btn-x" href="https://telegram.org/">
            <i class="fab fa-telegram"></i>
          </a>
        </div>

        <p class="text-white">All Right Reserved</p>
      </div>
    </div>
    </footer>



  </body>
</html>
